In [2]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

In [5]:
#understanding variables
data = pd.read_csv("covid-variants.csv")
data.shape #returns number of (rows, columns)

(100416, 6)

In [6]:
data.head(15)

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-07-06,Alpha,0,0.0,3
1,Angola,2020-07-06,B.1.1.277,0,0.0,3
2,Angola,2020-07-06,B.1.1.302,0,0.0,3
3,Angola,2020-07-06,B.1.1.519,0,0.0,3
4,Angola,2020-07-06,B.1.160,0,0.0,3
5,Angola,2020-07-06,B.1.177,0,0.0,3
6,Angola,2020-07-06,B.1.221,0,0.0,3
7,Angola,2020-07-06,B.1.258,0,0.0,3
8,Angola,2020-07-06,B.1.367,0,0.0,3
9,Angola,2020-07-06,B.1.620,0,0.0,3
10,Angola,2020-07-06,Beta,0,0.0,3
11,Angola,2020-07-06,Delta,0,0.0,3
12,Angola,2020-07-06,Epsilon,0,0.0,3
13,Angola,2020-07-06,Eta,0,0.0,3
14,Angola,2020-07-06,Gamma,0,0.0,3

In [7]:
data.columns

Index(['location', 'date', 'variant', 'num_sequences', 'perc_sequences',
       'num_sequences_total'],
      dtype='object')

In [8]:
data.nunique(axis = 0) #number of unique values for each variable

location                121
date                     45
variant                  24
num_sequences          1563
perc_sequences         3600
num_sequences_total    1247
dtype: int64

In [9]:
data.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

       num_sequences perc_sequences num_sequences_total
count  100416.000000  100416.000000       100416.000000
mean       72.171676       6.154355         1509.582457
std      1669.262169      21.898989         8445.291772
min         0.000000      -0.010000            1.000000
25%         0.000000       0.000000           12.000000
50%         0.000000       0.000000           59.000000
75%         0.000000       0.000000          394.000000
max    142280.000000     100.000000       146170.000000